extends layout

block content
  h1.form-heading Leave your messages here.
  form.form(method="POST" action="/new")
   label Your Name
    input(type='text' name='author')
   label Message
    input(type='text' name='text')
   button.submit-button(type='submit') Submit
  a.back(href='/') back

