* {
  padding: 0;
  margin: 0;
}
body {
  text-align: center;
  color: white;
  background-color: rgb(19, 19, 19);
}
.title {
  padding: 1rem;
  color: rgb(186, 218, 139);
}
.title-para {
  background-color: rgba(0, 255, 34, 0.253);
  padding: 1em;
  border: 1px solid black;
}
.message-list {
  background-color: rgba(255, 0, 0, 0.253);
  max-width: 65%;
  margin: 1rem auto;
  /* padding:1em; */
  border: 2px solid black;
}
.message {
  padding: 1rem;
  border: 3px solid black;
}
.text {
  font-size: 1.2rem;
}
.user {
  margin: auto;
  padding: 0.3rem;
  padding-top: 0rem;
  opacity: 0.5;
  position: relative;
  left: 3rem;
  width: max-content;
}
.link-button {
  background-color: indigo;
  padding: 1rem 5rem;
  margin: 1rem auto;
  width: max-content;
  color: white;
  display: block;
  border: 2px solid black;
  text-decoration: none;
}
.link-button:hover {
  transform: scale(1.05);
}
.link-button:visited {
  color: white;
}

/* form*/
.form-heading {
  padding: 1rem;
  font-size:1.5rem;
}
.form {
  width: 50%;
  margin: 0 auto;
}
.form * {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  margin: 2rem;
}
.form input {
  margin: 0 auto;
}
.submit-button {
  padding: 0.5rem;
  font-size: 1.3rem;
  margin: 0 auto;
}


@media only screen and (max-width: 760px) {
  .message-list {
    max-width: 85%;
  }
  .form {
    width: 100%;
    margin: 0 auto;
  }
}
